* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*GENERAL*/

body {
    width: 100%;
    overflow: auto;
}

section {
    width: 100%;
    display: flex;
    position: relative;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-size: 1.5rem;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', cursive;
}

p {
    font-size: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

/*NAVBAR*/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: tomato;
}

nav h2 {
    margin: 1.5rem;
    font-size: 2rem;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
}

nav .nav-items .nav-item {
    list-style: none;
    margin: 1.5rem;
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 15%;
    padding: 1rem;
}

.nav-item:hover {
    background-color: white;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

/*SOBRE*/

#sobre {
    height: 100vh;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
}

#sobre #text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: yellow;
}

#sobre #text-container h1,p {
    margin-left: 6rem;
    margin-right: 18rem;
    text-align: justify;
}

#sobre #text-container p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
}

#sobre #img-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: yellowgreen;
}

#sobre #img-container img {
    height: 20rem;
    width: auto;
    border-radius: 50%;
}

/*PROYECTOS*/

#proyectos {
    height: auto;
    background-color: violet;
}

#container {
    width: 100%;
}

#proyectos #container h1{
    
    margin-left: 6rem;
    margin-top: 6rem;
    text-align: justify;
}

#proyectos-container {
    display: flex;
    position: relative;
    margin: 6rem 0;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.proyecto {
    border: solid 1px white;
    border-radius: 10%;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem;
}

.proyecto-imagen {
    height: 16rem;
    width: 24rem;
    background-size: cover;
    background-position: center;
}

#excursion .proyecto-imagen {
    background-image: url(./resources/images/proyectos/excursion.png);
}

#tea-cozy .proyecto-imagen {
    background-image: url(./resources/images/proyectos/tea-cozy.png);
}

#agencia .proyecto-imagen {
    background-image: url(./resources/images/proyectos/agencia.png);
}


.descripcion-proyecto {
    width: 24rem;
    text-align: justify;
    display: block;
    padding: 0.5rem 0;
    margin-left: 0.1rem;
}

.descripcion-proyecto summary {
    cursor: pointer;
    list-style: none;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5rem;
    text-decoration: underline;
    margin-left: 1rem;
}

.descripcion-proyecto p {
    width: 100%;
    margin: 0.25rem 2rem;
}


/*HABILIDADES*/

#habilidades {
    height: 90vh;
    background-color: yellow;
}

#habilidades #container-todo {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: yellow;
}

#container-todo {
    width: 100%;
}

#container-todo h1 {
    margin-left: 6rem;
    margin-top: 0rem;
}

#container-habilidades {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

#container-habilidades img {
    height: 8rem;
    width: 8rem;
    filter: grayscale(1);
    -webkit-filter: grayscale(1);;
    margin: 3rem;
}

#container-habilidades img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}




/*FOOTER*/

footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: yellowgreen;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

footer p {
    margin: 0;
    text-align: center;
}