* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

/*GENERAL*/

body {
    width: 100%;
    overflow: auto;
}

section {
    width: 100%;
    display: flex;
    position: relative;
}

h1 {
    font-size: 3rem;
}

/*NAVBAR*/

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: tomato;
}

nav h2 {
    margin: 1.5rem;
    font-size: 1.5rem;
}

nav .nav-items {
    display: flex;
    flex-direction: row
}

nav .nav-items .nav-item {
    list-style: none;
    margin: 1.5rem;
    font-weight: bold;
}

.nav-item a {
    color: black;
    text-decoration: underline;
}

/*SOBRE*/

#sobre {
    height: 100vh;
    background-color: teal;
    justify-content: space-between;
    align-items: center;
}

#sobre #text-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    background-color: yellow;
}

#sobre #text-container h1,p {
    margin-left: 6rem;
    margin-right: 18rem;
    text-align: justify;
}

#sobre #text-container p {
    margin-top: 0.8rem;
    font-size: 1.2rem;
}

#sobre #img-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: yellowgreen;
}

#sobre #img-container img {
    height: 20rem;
    width: auto;
}

/*PROYECTOS*/

#proyectos {
    height: auto;
    background-color: violet;
}
#proyectos #container h1{
    
    margin-left: 6rem;
    margin-top: 6rem;
    text-align: justify;
}

#proyectos-container {
    display: flex;
    position: relative;
    margin: 6rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#excursion {
    border: solid 1px white;
    border-radius: 10%;
    overflow: hidden;
}

.proyecto {
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2rem;
}

#excursion .proyecto-imagen {
    height: 16rem;
    width: 24rem;
    background-image: url(https://swashvillage.org/storage/img/images_1/steve-jobs-biography_2.jpg);
    background-size: contain;
    background-position: center;
}

.descripcion-proyecto {
    width: 24rem;
    text-align: justify;
    display: block;
    padding: 0.5rem 0;
    margin-left: 0.1rem;
}

.descripcion-proyecto summary {
    cursor: pointer;
    list-style: none;
    font-weight: bold;
    text-decoration: underline;
}

.descripcion-proyecto,p {
    width: 100%;
    margin: 0.25rem 2rem;
}


/*HABILIDADES*/

#habilidades {
    height: 90vh;
    background-color: yellow;
}

/*FOOTER*/

footer {
    display: flex;
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: yellowgreen;
}